body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(39,39,39);
    background: url("../img/1.jpg") no-repeat ;
    background-size:cover; 
    min-width: 1280px;
}
li{
    list-style: none;
}
.left{
    float: left;
}
.right{
    float:right;
}
center{
    margin: 0 auto;
}
h5{
    color: white;
}
a{
    text-decoration: none;
    padding: 0px;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
}

/*头部*/
#header{
    height: 55px;
    width: 100%;
    margin: 0px;
    color: white;
    background-color: #000;
}
.headerIcon{
    margin-right:5px; 
    margin-bottom:3px; 
    height: 23px;
    width: 23px;
    display: inline;
}
#headerForm{
    position: absolute;
    top: 10px;
    left:400px; 
    display:inline-block;
}
#title{
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 160px;
    float: left;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
}
.nav{
    margin-right: 140px;
    float: right;
    list-style: none;
    font-size: 18px;
}
.nav li{
    float: left;
    margin: 5px 10px;
    height: 100%;
    
}
.nav li a{
    color: #fff;
}
.nav li a:hover{
    background-color: #292929;
}
#headerForm{
    position: absolute;
    top: 10px;
    left:400px; 
    display:inline-block;
}
#headerSearch{
    background-color: lightblue;
}
#headerSearch:hover{
    background-color:rgb(139, 200,220);
    cursor: pointer;
}



/* 中间内容部分 */
.content{
    height: auto;
    min-height: 800px;

}
#dataViewContainer{
    margin: 30px auto;
    width: 90%;
    height: 400px;
    min-height: 800px;
    background-color: #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius:8px;
    box-shadow: 1px 1px 2px 1px gray;
    padding: 0px;
}
#viewHeader{
    width: 100%;
    height: 7%;
    background-color: #000;
    text-align: center;
    color: #efefef;
    -webkit-border-top-left-radius:8px;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-top-right-radius: 8px;
}
#viewHeader h3{
    padding-top: 15px;
}
#tabMenu{
    height: 93%;
    width: 18%;
    -moz-border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius:8px;
    /* background-color: darkgreen; */
    float: left;
}
#tabMenu ul{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
#tabMenu ul li{
    margin: 0px;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
#tabMenu ul li:hover{
    background-color: lightblue;
    cursor: pointer;
}
.tabActive{
    background-color: lightblue;
}
#tableView{
    height: 93%;
    width: 82%;
    background-color:#fff;
    display: inline-block;
    float: left;
    -moz-border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius:8px;
}
#tableView #viewBox{
    width: 100%;
    height: 100%;
}
#mapContainer{
    height: 742px;
    width: 100%;
}



/*foot部分*/
#footer{
    height: 300px;
    background-color: #000;
}
#foot-content{
    width: 80%;
    height: 250px;
    margin: 12px auto;
    color: lightslategray;
}
#dataSource h5{
    text-align: left;
    margin: 6px 0px;
}
#dataSource ul{
    padding-left: 0px;
    padding-right: 150px;
}
#dataSource ul li{
    text-align: left;
    margin: 6px 0px;
}
#dataSource ul li a{
    text-decoration: none
}
