body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(39,39,39);
    background: url("../img/1.jpg") no-repeat ;
    background-size:cover; 
    min-width: 1280px;
}
li{
    list-style: none;
}
.left{
    float: left;
}
.right{
    float:right;
}
center{
    margin: 0 auto;

}
h5{
    color: white;
}
a{
    text-decoration: none;
    padding: 0px;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
}

/*头部*/
#header{
    height: 55px;
    width: 100%;
    margin: 0px;
    color: white;
    background-color: #000;
}
.headerIcon{
    margin-right:5px; 
    margin-bottom:3px; 
    height: 23px;
    width: 23px;
    display: inline;
}
#headerForm{
    position: absolute;
    top: 10px;
    left:400px; 
    display:inline-block;
}
#headerSearch{
    background-color: lightblue;
}
#headerSearch:hover{
    background-color:rgb(139, 200,220);
    cursor: pointer;
}
#title{
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 160px;
    float: left;
    font-size: 22px;
    line-height: 55px;
    cursor: pointer;
}
.nav{
    margin-right: 140px;
    float: right;
    list-style: none;
    font-size: 18px;
}
.nav li{
    float: left;
    margin: 5px 10px;
    height: 100%;
    
}
.nav li a{
    color: #fff;
}


/* 中间内容部分 */
#content{
    height: auto;
    min-height: 1100px;
}
#inforBoxHeader{
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    height: 200px;
    background-color: #fff;
}
#imgBox{
    height: 160px;
    width: 160px;
    background-color: #000;
    display: inline-block;
    float: left;
}
#titleInfor{
    margin: 0px 20px;
    float: left;
}
#titleInfor h3{
    margin-top: 0px;
    margin-bottom:20px; 
}
#titleInfor ul{
    padding: 0px;
}
#titleInfor ul li{
    font-size: 18px;
    margin-bottom:5px;
    color:rgb(39,39,39);
}


#inforBoxContent{
    margin: 0 auto;
    padding: 0px;
    width: 80%;
    height: auto;
    background-color: #fff;
}
#boxTabs{
    height: 50px;
    width: 100%;
    background-color:lightblue;
}
#boxTabs ul{
    padding:0px 0px;
}
#boxTabs ul li{
    height: 100%;
    line-height: 50px;
    padding:0 30px; 
    font-size: 18px;
    cursor: pointer;
}
#boxTabs ul li:hover{
    background-color: #fff;
}
.inforBox{
    background-color:blue;
}


.tabsSelect{
    background-color: #fff;
}


#inforTable{
    padding: 20px!important;
    background-color: #fff;
}
#inforTable tr{
    text-align: center;
    height: 50px;
}

table tr td{
    line-height: 45px!important;
}
table .attr{
    width: 200px!important;
}
.contentTD{
    width: 400px;
}
#businessScope,#dataSourse{
    
}

#mapBox{
    height: 800px;
    width: 100%;
}
#notFindPos{
    text-align: center;
    line-height: 50px;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    border: white 1px solid;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;/*opera或ie9*/
    box-shadow: 1px 1px 2px 1px lightgray;
    -moz-box-shadow:1px 1px 2px 1px lightgray;/*firebox*/
    -webkit-box-shadow:1px 1px 2px 1px lightgray;/*webkit*/
    background-color: lightblue;
    cursor: default;
}
#notFindPos:hover{
    color: #fff;
}

#atlasBox{
    height: 800px;
    width: 100%;
}
#dataView{
    height: 750px;
    width: 1250px;
    margin: 0 auto;
}
.showBox{
    display: block;
}
.hideBox{
    display: none;
}



/*foot部分*/
#footer{
    height: 300px;
    background-color: #000;
}





#foot-content{
    width: 80%;
    height: 250px;
    margin: 12px auto;
    color: lightslategray;
}
.foot-content-list{
    width: 170px;
    height: 100%;
    padding: 8px;
    margin-right: 20px;
    text-align: left;
    float: left;
}
.foot-content-list a{
    text-decoration: none;
    color:lightslategray;
}
.foot-content-list ul{
    padding-left:0px;
}
.foot-content-list li{
    text-align: left;
    margin: 5px 0;
}
#contact-us{
    width: 200px;
}
#data-sources{
    width: 200px;
    margin-left: 20px;
}
