body{
    margin          : 0px;
    padding         : 0px;
    background-color: rgb(39,39,39);
    background      : url("../img/1.jpg") no-repeat ;
    background-size : cover;
    min-width       : 1480px;
}
li{
    list-style: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
center{
    margin: 0 auto;
}
h5{
    color: white;
}
a{
    text-decoration: none;
    padding        : 0px;
}
.container-fluid{
    padding: 0px;
    margin : 0px;
}

/*头部*/
#header{
    height          : 55px;
    width           : 100%;
    margin          : 0px;
    color           : white;
    background-color: #000;
}
.headerIcon{
    margin-right : 5px;
    margin-bottom: 3px;
    height       : 23px;
    width        : 23px;
    display      : inline;
}
#headerLogo{
    height: 50px;
}
#headerForm{
    position: absolute;
    top     : 10px;
    left    : 400px;
    display : inline-block;
}
#title{
    margin-top   : 0px;
    margin-bottom: 0px;
    margin-left  : 160px;
    float        : left;
    font-size    : 22px;
    line-height  : 55px;
    cursor       : pointer;
}
.nav{
    margin-right: 140px;
    float       : right;
    list-style  : none;
    font-size   : 18px;
}
.nav li{
    float: left;
    width: 170px;
    padding: 0px 0px;
    height: 100%;
    text-align: center;
}
.nav li a{
    color: #fff;
    padding:15px 13px 15px 15px;
}
.nav li a:hover{
    background: -webkit-linear-gradient(left top, rgb(1, 73, 155) , rgb(76, 133, 255)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, rgb(1, 73, 155) , rgb(76, 133, 255)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(1, 73, 155) , rgb(76, 133, 255)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, rgb(1, 73, 155) , rgb(76, 133, 255)); /* 标准的语法（必须放在最后）*/
}

#headerForm{
    position: absolute;
    top     : 10px;
    left    : 400px;
    display : inline-block;
}
#headerSearch{
    background-color: lightblue;
}
#headerSearch:hover{
    background-color: rgb(139, 200,220);
    cursor          : pointer;
}



/* 中间内容部分 */
.content{
    height    : auto;
    min-height: 1200px;
}
#searchResult{
    margin          : 20px auto;
    padding         : 30px;
    width           : 80%;
    height          : 150px;
    background-color: #fff;
    box-shadow      : 1px 1px 4px 1px gray;
}
.inforBox{
    margin          : 20px auto;
    padding         : 20px;
    width           : 80%;
    height          : 200px;
    background-color: #fff;
    box-shadow      : 1px 1px 4px 1px gray;
}
.imgBox{
    height          : 160px;
    width           : 160px;
    background-color: #000;
    display         : inline-block;
    float           : left;
}
.titleInfor{
    margin: 0px 20px;
    float : left;
}
.titleInfor h3{
    margin-top   : 0px;
    margin-bottom: 20px;
}
.titleInfor ul{
    padding: 0px;
}
.titleInfor ul li{
    font-size    : 18px;
    margin-bottom: 5px;
    color        : rgb(39,39,39);
}
.titleName:hover{
    color : lightblue;
    cursor: pointer;
}
#resultNumber{
    color: red;
}
/* bootstrap分页器 */
#fenye{
    position: relative;
    top     : 10px;
    bottom  : 30px;
    left    : 35%;

}


/*foot部分*/
#footer{
    height          : 300px;
    background-color: #000;
}
#foot-content{
    width : 80%;
    height: 250px;
    margin: 12px auto;
    color : lightslategray;
}
#dataSource h5{
    text-align: left;
    margin    : 6px 0px;
}
#dataSource ul{
    padding-left : 0px;
    padding-right: 150px;
}
#dataSource ul li{
    text-align: left;
    margin    : 6px 0px;
}
#dataSource ul li a{
    text-decoration: none
}

